<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <title>Antillia Automater</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <script defer type="module" src="/scripts/admin_sidebar.js"></script>
    <script defer type="module" src="/scripts/header.js"></script>
    <script defer type="module" src="/scripts/admin_staff.js"></script>
</head>
<body>
    <div class="container">
        <header-component class="header"></header-component>
    
        <admin_sidebar-component id="sidebar"></admin_sidebar-component>

        <div class="main">
            <div id="first" class="form">
                <ul id="workers" class="jobs-list">

                </ul>
            </div>
            <div id="add-page" class="form" hidden>
                <div class="input">
                    <label for="workerName">Name:</label>
                    <input type="text" id="workerName">
                </div>
                <div class="input">
                    <label for="username">Username:</label>
                    <input type="text" id="username" autocomplete="off">
                </div>
                <div class="input">
                    <label for="password">Password:</label>
                    <div class="password">
                        <input type="password" id="password">
                        <input type="checkbox" id="showPassword">
                    </div>
                </div>
                <div class="input">
                    <label for="admin">Is Admin:</label>
                    <input type="checkbox" id="admin">
                </div>
                <div class="input">
                    <button id="createBtn">Create</button>
                </div>
            </div>
            <div id="del-page" class="form" hidden>
                <div class="input">
                    <label for="staffMembers">Select Staff To Delete:</label>
                    <select name="staffMembers" id="staffMembers"></select>
                </div>
                <div class="input">
                    <button id="deleteBtn">Delete</button>
                </div>
            </div>
            <button id="list-staff">List Staff</button>
            <button id="add">Add Staff Member</button>
            <button id="delete">Delete Staff Member</button>
        </div>
    </div>
</body>
</html>