<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <title>Antillia Automater</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <script defer type="module" src="/scripts/sidebar.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <img src="/images/logo_e4f9f5.png" alt="Antillia Emergency Network Logo" id="logo" width=100>
            <h1>Antillia Emergency Network</h1>
        </header>

        <sidebar-component id="sidebar"></sidebar-component>
    </div>

</body>
</html>