<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <title>Antillia Automater</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <script defer type="module" src="/scripts/create_work_order.js"></script>
    <script defer type="module" src="/scripts/admin_sidebar.js"></script>
    <script defer type="module" src="/scripts/header.js"></script>
</head>
<body>
    <div class="container">
        <header-component class="header"></header-component>

        <admin_sidebar-component id="sidebar"></admin_sidebar-component>

        <div class="main">
            <div class="form">
                <div id="type">
                    <label for="form-selector" style="font-size: 20px;">Form Type:</label>
                    <select name="form-selector" id="form-selector" style="font-size: 16px;">
                        <option value="">Please Select</option>
                        <option value="form1">First Attendance</option>
                        <option value="form2">Other Attendance</option>
                        <option value="scope">Prepare Scope of Works</option>
                        <option value="mainfest">Contents Manifest</option>
                        <option value="proceed">Authority to Proceed</option>
                        <option value="remove">Authority to Remove</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</body>
</html>