<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <title>Antillia Automater</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <script defer type="module" src="/scripts/sidebar.js"></script>
    <script defer type="module" src="/scripts/header.js"></script>
    <script defer type="module" src="/scripts/submitted_jobs.js"></script>
</head>
<body>
    <div class="container">
        <header-component class="header"></header-component>
        
        <sidebar-component id="sidebar"></sidebar-component>

        <div class="main">
            <div class="form">
                <ul id="completed">
                    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>