#form1 body {
    font-family: Arial, sans-serif;
    background-color: #e4f9f5;
    margin: 0;
    padding: 20px;
}

#form1 div {
    margin-bottom: 15px;
}

#form1 label {
    display: block;
}

#form1 textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form1 input[type="text"],
#form1 select {
    width: 100%;
    padding: 8px;
    margin-left: 0;
    box-sizing: border-box;
    margin-top: 5px;
}

#form1 .checkbox-group {
    margin-bottom: 15px;
}

#form1 .checkbox-group label {
    display: block;
}

#form1 .checkbox-group input[type="checkbox"] {
    display: inline-block;
}

#form1 button {
    padding: 10px;
    background-color: #32aba9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form1 button:hover {
    background-color: #279192;
}

#form1 #form {
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#form1 .collapsable-content {
    display: none
}

#form1 .checkbox-group {
    position: relative; /* Add relative positioning to the container */
}

#form1 .dropdown {
    display: none;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
    z-index: 999;
    padding: 5px;
}

#form1 .checkbox-pair {
    display: flex;
}

#form1 .checkbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#form1 .left {
    order: 0;
}

#form1 .right {
    order: 1;
}

#form1 #formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form1 img {
    display: block;
    margin: 5px;
}